<!-- contacts -->
<section class="banner-bottom-w3layouts py-5" id="about">
    <div class="container py-xl-1 py-lg-3">
        <div class="row mt-lg-5">
            <div class="col-lg-12 about-img text-center">
                <!-- heading title -->
                <div class="main-title mb-md-2 mb-4">
                    <h3 class="tittle text-uppercase font-weight-bold">Контакты</h3>
                    <div class="title-icon">
                        <i class="fas fa-camera"></i>
                    </div>
                    <p class="sub-tittle">Для сотрудничества вы можете обратится по следующим контактам</p>
                </div>
                <!-- //heading title -->
                <h5 class="">Бишкек</h5>
                <p><i class="fa fa-street-view" aria-hidden="true" style="padding: 0 5px 0 0;color: #afafaf;"></i>Avenue str 32</p>
                <a href="tel:+996705701906" class="phone_txt_number_contacts" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <i class="fa fa-phone" aria-hidden="true" style="padding: 0 5px 0 0;color: #afafaf;"></i>+996 705 701 906</a>
                <p><i class="fa fa-envelope" aria-hidden="true" style="padding: 0 5px 0 0;color: #afafaf;"></i>new-format@mail.com</p>
                <a href="https://www.instagram.com/" target="_black"> <i class="fab fa-instagram" aria-hidden="true"
                                                                         style="padding: 0 5px 0 0;color: #afafaf;"></i><span>instagram.com/</span>@new-format</a>
            </div>
        </div>
    </div>
</section>
<!-- //contacts -->