
<div class="container py-xl-5 py-lg-3">
    <!-- heading title -->
    <div class="main-title text-center mb-5">
        <h3 class="tittle text-uppercase font-weight-bold">Заведения партнеры</h3>
        <div class="title-icon">
            <i class="fas fa-camera"></i>
        </div>
        <p class="sub-tittle">Заведения, с которыми мы сотрудничаем являются профессионалами своего дела!</p>
    </div>
    <!-- //heading title -->
	<div class="row">	
	    <div class="col-md-4 team-effect-agile">
            <div class="box8">
                <img src="/images/t1.jpg" alt="" class="img-fluid">
                <h3 class="title">Заведение 1</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li>
                            <a href="https://facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul> 
                        <li>
                            <a href="https://instagram.com">
                                <h3 class="title" style="margin: 0% 0% 20% 25%;">Заведение 1</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="posts-w3ls-bottom py-4">
                    <h4 class="text-dark mb-2">Свадебный салон Белла</h4>
                    <p class="mt-3">Свадебные платья, свадебные костюмы, вечерние платья. Подготовка к праздничным выходам, 
                        создание индивидуального образа, прически и многое другое! </p>
            </div>
        </div>		
	    <div class="col-md-4 team-effect-agile">
            <div class="box8">
                <img src="/images/t2.jpg" alt="" class="img-fluid">
                <h3 class="title">Заведение 2</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li>
                            <a href="https://facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul> 
                        <li>
                            <a href="https://instagram.com">
                                <h3 class="title" style="margin: 0% 0% 20% 25%;">Заведение 2</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="posts-w3ls-bottom py-4">
                    <h4 class="text-dark mb-2">Свадебный салон Белла</h4>
                    <p class="mt-3">Свадебные платья, свадебные костюмы, вечерние платья. Подготовка к праздничным выходам, 
                        создание индивидуального образа, прически и многое другое! </p>
            </div>
        </div>
        <div class="col-md-4 team-effect-agile">
            <div class="box8">
                <img src="/images/t3.jpg" alt="" class="img-fluid">
                <h3 class="title">Заведение 3</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li>
                            <a href="https://facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul> 
                        <li>
                            <a href="https://instagram.com">
                                <h3 class="title" style="margin: 0% 0% 20% 25%;">Заведение 3</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
             <div class="posts-w3ls-bottom py-4">
                    <h4 class="text-dark mb-2">Свадебный салон Белла</h4>
                    <p class="mt-3">Свадебные платья, свадебные костюмы, вечерние платья. Подготовка к праздничным выходам, 
                        создание индивидуального образа, прически и многое другое! </p>
            </div>
        </div>
</div>