<!-- news -->
<div class="blog-w3ls py-1 bg-light" id="news">
    <div class="container py-xl-1 py-lg-3">
        <!-- heading title -->
        <div class="main-title text-center mb-5">
            <h3 class="tittle text-uppercase font-weight-bold">Важное</h3>
            <div class="title-icon">
                <i class="fas fa-camera"></i>
            </div>
            <p class="sub-tittle">Советуем вам обратить внимание на эти компании, 
                которые оказывают качественные услуги в своей сфере</p>
        </div>
        <!-- //heading title -->
        <div class="row package-grids">
            <% greatObj.forEach(element => {%>
                <%- include("fotoTemp1",{href: element.href, rekTitle: element.rekTitle, rekText: element.rekText, image: element.image}) %>
            <%});%>
        </div>
    </div>
</div>
<!-- //news -->
