<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/" method="post" enctype="multipart/form-data">
      <input type="text" name="field1">
      <input type="file" name="my_file">
      <button type="submit">Send</button>
    </form>
  </body>
</html>
