<!-- news -->
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src='<%= image1 %>' class="img-thumbnail" alt="" style="display: block; margin-left: auto;">
        </div>
        <div class="col-6">
            <img src='<%= image2 %>' alt="" class="img-thumbnail" style="display: block; margin-right: auto;">
        </div>
    </div>
</div>
<hr>
<!-- //news -->