<!--Slaider-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-8" id="mobver">
				<!-- banner -->
				<div class="pogoSlider" id="js-main-slider">
					<% for(var i=0; i<4; i++) {%>
						<%- include("sliderFoto", {zag: sliderObj.zag[i], image: sliderObj.image[i]})%>
					<% }%>
				</div>
				<!-- //banner -->
			</div>
			<div class="col-4" id="decver">
				<!-- pravyi fotobar-->
				<div style="float: left; top: 85px; left: 72%; right: 5px;">
					<div>
						<img src=<%= rekSlider %> class="img-fluid" alt="">
					</div>
					<div class="video-w3ls-slider text-center" style="margin-top: 10px">
						<button class="btn play-button-slider" data-toggle="modal" data-target=".bd-example-modal-lg">
							<i class="far fa-play-circle"></i>
						</button>
					</div>
				</div>
				<!-- //pravyi fotobar-->
			</div>
		</div>
	</div>
	<!--Slaider-->