<!--Slaider-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-8" id="mobver">
				<!-- banner -->
				<div class="pogoSlider" id="js-main-slider">
					<% if (sliderObj){%>
						<% for(var i=0; i<4; i++) {%>
							<%- include("sliderFoto", {zag: sliderObj.zag[i], image: sliderObj.image[i]})%>
						<% }%>
					<% } else {%>
						<h3>Ошибка при передаче объекта слайдер!</h3>
					<%} %>
				</div>
				<!-- //banner -->
			</div>
			<div class="col-4" id="decver">
				<!-- pravyi fotobar-->
				<div style="float: left; top: 85px; left: 72%; right: 5px;">
					<div>
						<img src="images/blog1.jpg" class="img-fluid" alt="">
					</div>
					<div style="margin-top: 30px;" class="posts-w3ls-bottom py-4">
						<div class="posts-top">
							<a href="#" data-toggle="modal" data-target=".bd-example-modal-lg">
								<img src="images/blog3.jpg" alt="" class="img-fluid" />
							</a>
							<h3>20
								<span>Sep</span>
							</h3>
						</div>
					</div>
				</div>
				<!-- //pravyi fotobar-->
			</div>
		</div>
	</div>
	<!--Slaider-->